@model IEnumerable<LaptopSystem.Web.Models.LaptopBasicViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row-fluid">
    @for (int i = 1; i <= Model.Count(); i++)
    {
        var currentLaptop = Model.ElementAt(i - 1);

        <div class="span4">
            <h3>@currentLaptop.Manufacturer @currentLaptop.Model</h3>
            <img src="@currentLaptop.ImageUrl" alt="@currentLaptop.Manufacturer @currentLaptop.Model" />
            <br />
            <a class="k-button" href="/Laptops/Details/@currentLaptop.Id">Price $@currentLaptop.Price</a>
        </div>

        if (i % 3 == 0 && i != Model.Count())
        {
            @:</div>
            @:<div class="row-fluid">
        }
    }
</div>